*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
    color: #111;

}
.cards{
    display: flex;
    margin: 10px 20px;
}
.cards img{
    object-fit: contain;
    max-width: 40%;
}
.cards .card{
    background-color: #fff;
    margin: 0% 22px;
    text-align: center;
    padding: 10px;
    transition: transform 420ms;
}
.cards .card p{
    padding: 30px;
    

}
.cards .card:hover{
    transform: scale(1.09);
    background-color: rgb(96, 209, 219);
}